/* 商品の概要 */

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.item-img-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-box-img {
  height: 30%;
  width: 30%;
  margin:0 5px;
  min-height: 30%;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
  color: red;
  margin-right: 5px;
}

.item-price-box>.item-postage {
  font-size: 14px;
  padding-top: 7px;
  color: gray;
}


.item-btn-list {
  display: flex;
  justify-content: center;
}

.item-red-btn {
  width: 30vw;
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  color: #FFF;
  margin: 20px 10px 20px;
  padding: 2vh 0;
}

.item-destroy {
  width: 30vw;
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-explain-box {
  width: 100%;
  font-size: 18px;
  margin: 20px 0px;
}

.item-explain-title {
  color: gray;
  text-align: center;
}

.item-explain-text {
  border: 1px solid #dedede;
  min-height: 20vh;
  padding: 5px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  color: gray;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: gray;
  margin-bottom: 10px;
}

.comment-btn {
  line-height: 25px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 16px;
  border-radius: 100px;
  margin: 10px 0;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.tag-name {
  font-size: 24px;
  color: rgb(29, 132, 201);
}

#comments {
  border-top: 1px solid #dedede;
}

.comment {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid #dedede;
}

.comment-left {
  width: 20%;
  text-align: left;
  overflow: none;
}

.comment-right {
  width: 80%;
  text-align: left;
  padding-left: 5px;
}