<%= render 'shared/header' %>
<p>検索結果</p>
<% if @results.length !=0 %>
  <ul class='item-lists'>
    <% @results.each do |item| %>
      <%= render partial: 'shared/item', locals: { item: item } %>
    <% end %>
  </ul>
<% else %>
  該当する商品はありません
<% end %>
<%= render 'shared/footer' %>